
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
}

img {
    width: 50%;
    display: block;
}

section {
    background-color: rgb(201, 150, 248);
    width: 800px;
    margin: 1em auto;
}

span {
    border: 2px solid black;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5 { 
    padding: 1.5em 1em;
}

/* class selectors */

.center {
    text-align: center;
}

.header-line {
    margin-top: -1em;
}

/* pseudo classes */

a:visited {
    color: hotpink;
}

a:hover {
    color: yellow;
}