* {
    margin: 0px;
    padding: 0px;
    font-family: 'Abel', sans-serif
}

body {
    background-color: cornsilk;
}

h2 {
    text-align: center;
    padding: 10px;
    padding-top: 20%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border: 1px solid black;
    border-collapse: separate;
    width: 25%;
    text-align: center;
    background-color: pink;
    border-spacing: 10px;
}

th {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
