body {
    margin: 0;
    color: #fff;
    font-family: 'Abel', sans-serif;
    font-weight: normal;
    line-height: 1.5;
    margin: auto;
    text-align: center;
    color: #fff;
    background: #EF629F;
    background: linear-gradient(to right, #EF629F, #EECDA3);
  }

  .container {
    color: #fff;
    height: 400px auto;
    width: 100% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

  h1 {
    margin-top: 50px;
    font-size: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  h2,
  h3,
  h4,
  h5 {
      margin-top: 50px;
      letter-spacing: 4px;
      text-transform: uppercase;
  }

.moon {
    margin-top: 50px;
    height: 150px;
    width: 150px;
    overflow: hidden;
    transform: translatey(0px);
    background-color: transparent;
    box-shadow: -15px 10px 0 10px lightgoldenrodyellow;
    border-radius: 50%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 15px); } 
    100%   { transform: translate(0, -0px); }    
}

.shadow {
  margin: 50px auto 0;
  background-color: lightgray;
  width: 100px;
  height: 20px;
  border-radius: 50%;
  animation: zoom 3s infinite;
}

@keyframes zoom {
    0%, 100%{
      transform: scale(0.7);
    }
    50%{
      transform: scale(1);
    }
  }

  .flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .nav-bar {
    align-self: center;
    width: 40px;
    height:1px;
    background-color: white;
  }